/* ----------- SINGLE BEER CARD ----------- */
/* -------------------------------------------------------- */

.beer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  box-shadow: -2px -2px 6px #00000038, 0px 3px 2px #00000038;
  background-color: #ffffff34;
  margin: 20px;
  padding: 40px;
  border-radius: 12px;
}

/* ----------- SINGLE BEER IMAGE ----------- */
/* -------------------------------------------------------- */

.beer-img-star {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 30px; */
}

.beer-card-image {
  margin: 0 0 30px 0;
  object-fit: contain;
  min-height: 45vh;
  max-height: 55vh;
}

/* ----------- SINGLE BEER MAIN INFO ----------- */
/* -------------------------------------------------------- */

.beer-card-info {
  margin: 0 30px;
  min-width: 250px;
  max-width: 300px;
  flex-grow: 2;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* flex-grow: 1; */
  text-align: start;
}

.beer-card-info h1,
.icon-title-main {
  margin: 0;
}

.beer-card-info ul,
.beer-card-info p {
  margin: 12px 0 16px 0px;
}

.beer-card-info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.beer-card-info li {
  margin-bottom: 0.5em;
}

.beer-card-info li::marker,
.side-card li::marker {
  content: "— ";
  font-weight: bold;
  color: #bd632f27;
}

.icon-title-main {
  display: flex;
  align-items: center;
}

.icon-title-main img {
  margin-right: 20px;
}

.beer-description {
  padding: 0;
  margin: 0;
  max-width: 600px;
}

/* ----------- SINGLE BEER Visual DATA ----------- */
/* -------------------------------------------------------- */

.beer-card-data {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.beer-card-data div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;
  margin: 5px 0;
}

.beer-card-data div span {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 4px;
}

.beer-data-display {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  /* border: 2px solid #bd632f36; */
  min-height: 40px;
  box-shadow: 2px 2px 10px #bd632f2d, 1px 2px 2px #bd632f4f;
  border-top: none;
  padding: 2px;
  flex-grow: 2;
  height: 20px;
  /* text-align: center; */
  background-color: #f2bb0567;
}

.beer-color-display {
  font-weight: 500;
}

/* ----------- SINGLE BEER SIDE INFO ----------- */
/* -------------------------------------------------------- */

.side-card {
  position: relative;
  justify-content: start;
  text-align: start;
  border: solid 3px #bd632f36;
  background-color: #bd632f54;
  box-shadow: 2px 2px 10px #bd632f2d;
  padding: 20px;
  border-radius: 8px;
  min-width: 200px;
}

.side-card ul,
.side-card p {
  margin-block-start: 0em;
  padding-left: 40px;
  font-size: smaller;
  max-width: 34ch;
}

.icon-title-side {
  display: flex;
  align-items: center;
  /* margin-block-start: 1em; */
}

/* ----------- SINGLE BEER STAR RATING ----------- */
/* -------------------------------------------------------- */

.beer-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: contain;
}

.beer-stars li:first-child {
  padding-left: 0;
}
.beer-stars li {
  object-fit: contain;
  list-style: none;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

/* .beer-stars li:first-child {
  padding-left: 0;
} */

.beer-stars li:hover {
  cursor: pointer;
}

.beer-stars .star {
  height: auto;
  fill: #bd632f36;
  object-fit: contain;
  transition: transform 200ms ease-in-out;
  will-change: transform, animation;
}

.star:hover {
  transform: scale(1.2);
}

.beer-stars .selected .star {
  fill: #f2bb05;
  animation: grow 0.33s ease-in-out;
  will-change: transform;
}

@keyframes grow {
  30% {
    transform: scale(1.2) rotate(-3deg);
  }
  30% {
    transform: scale(0.95) rotate(-3deg);
  }
  70% {
    transform: scale(1.1) rotate(+3deg);
  }
}
