/* ----------- SINGLE BEER CARD ----------- */
/* -------------------------------------------------------- */

.beer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  box-shadow: -2px -2px 6px #00000038, 0px 3px 2px #00000038;
  background-color: #ffffff34;
  margin: 20px;
  border-radius: 12px;
}

.beer-img-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.beer-card-image {
  margin: 30px;
  object-fit: contain;
  height: 53vh;
}

.beer-card-info {
  margin: 30px;
  width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-grow: 1; */
  text-align: start;
}

.beer-card-info h1,
.beer-card-info h2 {
  margin: 20px 0 0 0;
}

.beer-card-info ul,
.beer-card-info p {
  margin: 12px 0 16px 12px;
}

.beer-card-info li:before {
  display: inline-block;
  content: "—";
  font-weight: bolder;
  color: #bd632f54;
  margin: 6px 10px 0 0;
}

/* ----------- SINGLE BEER STAR RATING ----------- */
/* -------------------------------------------------------- */

.beer-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: contain;
}

.beer-stars li:first-child {
  padding-left: 0;
}
.beer-stars li {
  object-fit: contain;
  list-style: none;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

/* .beer-stars li:first-child {
  padding-left: 0;
} */

.beer-stars li:hover {
  cursor: pointer;
}

.beer-stars .star {
  height: auto;
  fill: #bd632f36;
  object-fit: contain;
  transition: transform 200ms ease-in-out;
  will-change: transform, animation;
}

.star:hover {
  transform: scale(1.2);
}

.beer-stars .selected .star {
  fill: #f2bb05;
  animation: grow 0.33s ease-in-out;
  will-change: transform;
}

@keyframes grow {
  30% {
    transform: scale(1.2) rotate(-3deg);
  }
  30% {
    transform: scale(0.95) rotate(-3deg);
  }
  70% {
    transform: scale(1.1) rotate(+3deg);
  }
}
