/* ----------- SINGLE BEER CARD ----------- */
/* -------------------------------------------------------- */

.beer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  box-shadow: -2px -2px 6px #00000038, 0px 3px 2px #00000038;
  background-color: #ffffff34;
  margin: 20px;
  border-radius: 12px;
}

/* ----------- SINGLE BEER IMAGE ----------- */
/* -------------------------------------------------------- */

.beer-img-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.beer-card-image {
  margin: 30px;
  object-fit: contain;
  height: 53vh;
}

/* ----------- SINGLE BEER MAIN INFO ----------- */
/* -------------------------------------------------------- */

.beer-card-info {
  margin: 30px;
  width: 375px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* flex-grow: 1; */
  text-align: start;
}

.beer-card-info h1,
.icon-title-main {
  margin: 20px 0 0 0;
}

.beer-card-info ul,
.beer-card-info p {
  margin: 12px 0 16px 40px;
}

.beer-card-info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.beer-card-info li {
  margin-bottom: 0.5em;
  padding-left: 1em;
}

.beer-card-info li::marker {
  content: "—";
  font-weight: bolder;
  color: #bd632f54;
}

.icon-title-main {
  display: flex;
  align-items: center;
}

.icon-title-main img {
  margin-right: 20px;
}

/* ----------- SINGLE BEER Visual DATA ----------- */
/* -------------------------------------------------------- */

.beer-card-data {
  display: flex;
  justify-content: space-around;
}

.beer-color-display {
  border-radius: 10px;
  border: 2px solid #bd632f36;

  width: 80px;
  height: 80px;
  font-size: 2em;
  text-align: center;
  word-break: break-word;
}

/* ----------- SINGLE BEER SIDE INFO ----------- */
/* -------------------------------------------------------- */

.side-card {
  position: relative;
  justify-content: start;
  text-align: start;
  border: solid 3px #bd632f36;
  background-color: #bd632f54;
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  min-width: 265px;
}

.side-card ul,
.side-card p {
  margin-block-start: 0em;
  padding-left: 40px;
  font-size: smaller;
  max-width: 34ch;
}

.icon-title-side {
  display: flex;
  align-items: center;
  /* margin-block-start: 1em; */
}

/* ----------- SINGLE BEER STAR RATING ----------- */
/* -------------------------------------------------------- */

.beer-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: contain;
}

.beer-stars li:first-child {
  padding-left: 0;
}
.beer-stars li {
  object-fit: contain;
  list-style: none;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

/* .beer-stars li:first-child {
  padding-left: 0;
} */

.beer-stars li:hover {
  cursor: pointer;
}

.beer-stars .star {
  height: auto;
  fill: #bd632f36;
  object-fit: contain;
  transition: transform 200ms ease-in-out;
  will-change: transform, animation;
}

.star:hover {
  transform: scale(1.2);
}

.beer-stars .selected .star {
  fill: #f2bb05;
  animation: grow 0.33s ease-in-out;
  will-change: transform;
}

@keyframes grow {
  30% {
    transform: scale(1.2) rotate(-3deg);
  }
  30% {
    transform: scale(0.95) rotate(-3deg);
  }
  70% {
    transform: scale(1.1) rotate(+3deg);
  }
}
