/* ----------- MAIN BEER LIST ----------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.beer-list {
  z-index: 1;
  position: relative;
  /* overflow: scroll; */
  min-height: calc(100vh -130px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(118px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(1fr, 276px));
  margin: 8px;
  margin-bottom: 30px;
}

.beer-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  border-radius: 3px 5px 5px 5px;
  text-align: center;
  box-shadow: -1px -1px 5px #00000038, 0px 3px 2px #00000038;
  background-color: #ffffff34;
  margin: 6px;
  height: 264px;
  transition: border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.beer-item:hover {
  border-radius: 8px;
  box-shadow: -1px -1px 5px #00000080, 0px 3px 2px #0000009d;
}

.beer-image {
  height: 200px;
  width: 76px;
  margin: auto;
  margin-top: 8px;
  object-fit: contain;
  transition: transform 500ms ease-in-out;
  will-change: transform;
}

.beer-item:hover .beer-image {
  transform: scale(1.03);
}

.pic-name {
  margin: 8px auto;
  width: 110px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  color: #042a2b;
}

.pic-name p {
  margin: 0;
  padding: 4px;
  height: 40px;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: wrap;
  text-overflow: ellipsis;
}

.small-item-id {
  background-color: #124e78;
  color: #f2bb05;
  font-weight: 700;
  border-radius: 0;
}

.colorChip {
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
}

.beer-list-empty-fill {
  display: flex;
  margin: 0;
  width: 122px;
  height: 0px;
}

.load-more-button-container {
  grid-column: 1 / -1;
}

.load-more-button {
  position: relative;
  bottom: -10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 2px #f3f3db;
  color: #042a2b;
  box-shadow: -1px -1px 6px #00000038, 0px 3px 2px #00000038;
  transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in,
    border 0.3s ease-in-out;
}

.load-more-button:hover {
  background-color: #f2bb05;
  border: solid 2px #124e78;
  box-shadow: -1px -1px 5px #00000080, 0px 3px 2px #0000009d;
}
