/* MEDIA QUERIES */

@media (max-width: 640px) {
  .app-header {
    padding: 8px;
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    max-width: 100vw;
    padding: 1px;
    margin: 0 auto;
  }

  .beer-list {
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    margin: 8px;
  }

  .nav-options {
    height: 50px;
    width: 96vw;
    font-size: 0.8em;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px;
  }

  .nav-filter-wrapper {
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    left: 0;
    top: 130px;
    height: calc(100% - 24px);
    z-index: 10;
    width: 100vw;
    background-color: #aaaa9854;
  }
  .nav-filters {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: -1px -1px 5px #00000038, 0px 3px 2px #00000038,
      6px -6px 8px 3px #f0f0c9b2;
    border: solid 0px #114a74;
    background-color: #f0f0c9;
  }

  .nav-filters-hidden {
    transition: left 0.1s ease-in-out;
    position: absolute;
    left: -200px;
    z-index: 10;
    margin: 50px 0;
    background-color: #f0f0c9d7;
  }

  .beer-card {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    border-radius: 12px;
    word-wrap: normal;
  }

  .beer-card-image {
    margin: 10px;
    object-fit: contain;
    height: 30vh;
  }

  .beer-card-info {
    margin: 0px;
    max-width: 90%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* flex-grow: 1; */
    text-align: start;
  }

  .side-card {
    margin: 10px;
    max-width: 100px;
  }
}
