/* MEDIA QUERIES */

/* @media (max-width: 700px) {
  #root {
    height: 100vmax;
    width: 100vmin;
  }
} */

@media (max-width: 640px) {
  .app-header {
    padding: 8px;
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    max-width: 100vw;
    padding: 1px;
    margin: 0 auto;
  }

  .beer-list {
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    margin: 8px;
  }

  /* ----------- NAV OPTIONS ----------- */
  /* -------------------------------------------------------- */

  .nav-options {
    height: 50px;
    width: 96vw;
    font-size: 0.8em;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px;
  }

  /* ----------- FILTERS  ----------- */
  /* -------------------------------------------------------- */

  .nav-filter-background {
    position: absolute;
    top: 130px;
    z-index: 9;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .nav-filter-background-hidden {
    z-index: -1;
  }

  .nav-filters {
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 10;
    margin: 0;
    height: calc(100% - 24px);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 20px 40px 80px #000000, 6px -6px 8px 3px #f0f0c9dc;
    border: solid 0px #114a74;
  }

  /* ----------- BEER  ----------- */
  /* -------------------------------------------------------- */

  .beer-card {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    border-radius: 12px;
    word-wrap: normal;
  }

  .beer-card-image {
    margin: 10px;
    object-fit: contain;
    height: 30vh;
  }

  .beer-card-info {
    margin: 0px;
    max-width: 90%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: start;
  }

  .side-card {
    margin: 10px;
    min-width: auto;
  }
}
