/* MEDIA QUERIES */

/* @media (max-width: 700px) {
  #root {
    height: 100vmax;
    width: 100vmin;
  }
} */

@media (max-width: 640px) {
  .app-header {
    padding: 8px;
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
  }

  .beer-list {
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    margin: 8px;
  }

  /* ----------- NAV OPTIONS ----------- */
  /* -------------------------------------------------------- */

  .nav-options {
    font-size: 0.8em;
    margin: 0;
    padding: 0 10px;
    width: 96vw;
  }

  /* ----------- FILTERS  ----------- */
  /* -------------------------------------------------------- */

  .nav-filter-background {
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 9;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0.6;
    background-color: #0000003b;
    transition: opacity 0.3s ease-in;
  }

  .nav-filter-background-hidden {
    z-index: -1;
    opacity: 0;
  }

  .nav-filters {
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 10;
    margin: 0;
    height: calc(100% - 24px);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 20px 0px 40px #000000af;
    border: solid 0px #114a74;
  }

  /* ----------- BEER  ----------- */
  /* -------------------------------------------------------- */

  .beer-card {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    border-radius: 12px;
    word-wrap: normal;
  }

  .beer-card > div {
    margin: 30px auto;
  }

  .beer-card > div > div {
    margin: 10px 0;
  }

  .beer-card-image {
    margin: 10px;
    object-fit: contain;
    height: 30vh;
  }

  .beer-img-star {
    margin: 30px auto;
  }

  .beer-card-info {
    margin: 30px auto;
    max-width: 90%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: start;
  }

  .side-card {
    margin: 30px auto;

    min-width: auto;
  }
}

@media (max-width: 1040px) {
  .beer-card > div {
    margin: 15px 15px;
  }
}

@-moz-document url-prefix() {
  .nav-filter-background {
    background-color: #00000065;
  }
}
