/* ----------- TOP BEERS lIST & MINI BEER CARDS ----------- */
/* -------------------------------------------------------- */

.top-beers-list {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 8px;
}

.mini-beer-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 1px 1px 5px #00000038;
  background-color: #ffffff34;
  height: 200px;
  margin: 6px;
  padding: 6px;
  border-radius: 8px;
  transition: border-radius 300ms ease-in-out;
}

.mini-beer-card:hover {
  border-radius: 8px;
  transform: scale(1.02);
}
.mini-beer-card a {
  padding: 0;
  margin: 0;
}
.mini-beer-card img {
  padding: 6px;
  margin: 6px;
  height: 182px;
  object-fit: contain;
}

.mini-card-info {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  text-align: start;
  overflow-wrap: break-word;
  line-break: loose;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mini-beer-card p {
  overflow-wrap: break-word;
  line-break: loose;
  word-break: break-word;
  text-overflow: ellipsis;
  padding: 4px;
  margin: 0;
}

.mini-beer-card .mini-card-title {
  font-weight: 500;
  font-size: 1em;
}

.mini-beer-stars {
  padding: 4px;
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  object-fit: contain;
  align-self: flex-end;
}
