.App {
  text-align: center;
  font-family: Courier;
  margin: 0 auto;
  justify-content: center;
}

.App-header {
  background-color: #042a2b;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0c9;
}

.error404 {
  font-weight: 700;
  font-size: 10vh;
  height: 70vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #f0f0c9;
}
h1 {
  margin: 15px;
}
h2 {
  margin: 10px;
}
h3 {
  margin: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit;
}
button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  background-color: inherit;
  color: inherit;
  border: 0;
}

/* ----------- MAIN NAV STYLE ----------- */
/* -------------------------------------------------------- */

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  width: 65%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  font-weight: 900;
  box-shadow: 1px lemonchiffon;
  border-radius: 5px;
  background-color: #124e78;
}
.main-nav li {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  border-right: 1px solid #124e78;
  border-radius: 5px;
}
.main-nav a {
  display: block;
  padding: 20px;
  color: #bd632f;
  border-radius: 5px;
  transition: transform 200ms ease-in-out;
  will-change: transform;
}

.main-nav a:hover {
  box-shadow: #042a2b 0px 1px 3px 0px;
  color: #124e78;
  background: rgba(242, 187, 5);
  transform: scale(1.05);
}

a.active-nav-route {
  border-color: rgba(0, 0, 0, 0.1);
  color: #124e78;
  color: #124e78;
  background: rgba(242, 187, 5);
}

/* ----------- WRAPPER ----------- */
/* -------------------------------------------------------- */

.body-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1px;
  margin: 0 auto;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 auto;
}

/* ----------- NAV OPTIONS ----------- */
/* -------------------------------------------------------- */

.nav-options {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  padding: 6px;
  margin: 2px 8px 0 8px;
  justify-content: space-between;
  border-radius: 0 8px 0 8px;
  background-color: #f0f0c9fa;
  box-shadow: 0px 4px 1px -3px #114a74;
}

.nav-options select {
  margin-left: 15px;
  margin-right: 15px;
  color: #bd632f;
  background-color: inherit;
  border-style: none;
  box-shadow: 0px 0px 2px 0px inset #124e78;
}

.nav-page {
  background-color: inherit;
  border-style: none;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 200ms ease-in-out;
}

/* ----------- FILTERS & SLIDERS ----------- */
/* -------------------------------------------------------- */

.nav-filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 0;
  min-width: 256px;
  margin: 2px;
  padding: 6px 0 0 0;
  border-radius: 8px;
  box-shadow: 4px -2px 1px -3px #124e78;
}

.filters-list {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  color: rgb(8 8 8);
}
.nav-filters ul {
  background-color: khaki;
  flex-grow: 1;
  justify-content: flex-start;
}

.filter {
  margin: 5px;
  justify-content: flex-start;
}

.filter h3 {
  text-align: start;
}

.filter-option {
  padding-left: 5%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-start;
}
.filter-option input {
  margin-right: 5%;
  display: block;
}

.filter-slider {
  color: #bd632f;
  height: 10%;
  background: linear-gradient(
    90deg,
    #ffe699,
    #ffd878,
    #ffca5a,
    #ffbf42,
    #fbb123,
    #f8a600,
    #f39c00,
    #ea8f00,
    #e58500,
    #de7c00,
    #d77200,
    #cf6900,
    #cb6200,
    #c35900,
    #bb5100,
    #b54c00,
    #b04500,
    #a63e00,
    #a13700,
    #9b3200,
    #952d00,
    #8e2900,
    #882300,
    #821e00,
    #7b1a00,
    #771900,
    #701400,
    #6a0e00,
    #660d00,
    #600903,
    #5e0b00,
    #5a0a02,
    #520907,
    #470606,
    #440607,
    #3f0708,
    #3b0607,
    #3a070b,
    #36080a
  );
} /*LOTS OF COLORS*/

.SRMColorGradient {
  width: 200px;
  height: 20px;
  background: linear-gradient(
    90deg,
    #ffe699,
    #ffd878,
    #ffca5a,
    #ffbf42,
    #fbb123,
    #f8a600,
    #f39c00,
    #ea8f00,
    #e58500,
    #de7c00,
    #d77200,
    #cf6900,
    #cb6200,
    #c35900,
    #bb5100,
    #b54c00,
    #b04500,
    #a63e00,
    #a13700,
    #9b3200,
    #952d00,
    #8e2900,
    #882300,
    #821e00,
    #7b1a00,
    #771900,
    #701400,
    #6a0e00,
    #660d00,
    #600903,
    #5e0b00,
    #5a0a02,
    #520907,
    #470606,
    #440607,
    #3f0708,
    #3b0607,
    #3a070b,
    #36080a
  );
} /*LOTS OF COLORS*/

/* ----------- MAIN BEER LIST ----------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6px;
}

.beer-item {
  display: flex;
  flex-direction: column;
  flex-basis: baseline;
  border: dashed 1px #124e78;
  border-radius: 5px;
  margin: 5px;
  height: 244px;
}

.beer-image {
  height: 150px;
  width: 76px;
  margin: 10px auto;
  object-fit: contain;
}

.pic-name {
  margin: 0 auto;
  width: 100px;
  max-height: 54px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #042a2b;
}

/* ----------- SINGLE BEER CARD ----------- */
/* -------------------------------------------------------- */

.beer-card {
  display: flex;
  margin: 0 auto;
  padding: 10px;
}

.beer-img-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.beer-card-image {
  margin: 20px;
  padding: 1vh;
  object-fit: contain;
  height: 50vh;
}

.beer-card-info {
  margin: 2vh;
  padding: 2vh;
  display: flex;
  margin: 30px;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  text-align: start;
}

.beer-card-info h1,
.beer-card-info h2 {
  margin: 20px 0 0 0;
}

.beer-card-info ul,
.beer-card-info p {
  margin: 12px 0 16px 12px;
}

.beer-card-info li:before {
  display: inline-block;
  content: "—";
  font-weight: bolder;
  color: #bd632f54;
  margin: 6px 10px 0 0;
}

/* ----------- SINGLE BEER STAR RATING ----------- */
/* -------------------------------------------------------- */

.beer-stars {
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: contain;
}

.beer-stars li:first-child {
  padding-left: 0;
}
.beer-stars li {
  object-fit: contain;
  list-style: none;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

/* .beer-stars li:first-child {
  padding-left: 0;
} */

.beer-stars li:hover {
  cursor: pointer;
}

.beer-stars .star {
  height: auto;
  fill: #bd632f36;
  object-fit: contain;
  transition: transform 200ms ease-in-out;
  will-change: transform, animation;
}

.star:hover {
  transform: scale(1.2);
}

.beer-stars .selected .star {
  fill: #f2bb05;
  animation: grow 0.33s ease-in-out;
  will-change: transform;
}

@keyframes grow {
  30% {
    transform: scale(1.2) rotate(-3deg);
  }
  30% {
    transform: scale(0.95) rotate(-3deg);
  }
  70% {
    transform: scale(1.1) rotate(+3deg);
  }
}

/* ----------- TOP BEERS lIST & MINI BEER CARDS ----------- */
/* -------------------------------------------------------- */

.top-beers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: start;
  align-items: flex-end;
}
.mini-beer-empty-fill {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: 240px;
  max-width: 360px;
  height: 0px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}
.mini-beer-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 240px;
  max-width: 360px;
  height: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px 0px #cfa48ca1, inset -1px -1px 1px 0px #cfa48ca1;
  border: solid 1px #cfa48ca1;
}
.mini-beer-card a {
  padding: 0;
  margin: 0;
}
.mini-beer-card img {
  padding: 0px;
  object-fit: contain;
}

.mini-card-info {
  margin: 0vh;
  padding: 0vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex-grow: 1;
  text-align: start;
  overflow-wrap: break-word;
  line-break: loose;
  word-break: break-word;
  text-overflow: ellipsis;
}

.mini-beer-card p {
  overflow-wrap: break-word;
  line-break: loose;
  word-break: break-word;
  text-overflow: ellipsis;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.mini-beer-card .mini-card-title {
  font-weight: 500;
  font-size: 1em;
}

.mini-beer-stars {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  object-fit: contain;
}

#modal-root {
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
