.App {
  text-align: center;
  font-family: Courier;
}

.App-header {
  background-color: #042a2b;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0c9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #f0f0c9;
}
h1 {
  margin: 15px;
}
h3 {
  margin: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.beer-image {
  height: 150px;
  width: 76px;
  margin: 20px;
  object-fit: contain;
}

.main-nav {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  font-weight: 900;
  box-shadow: 1px lemonchiffon;
  border-radius: 5px;
  background-color: #124e78;
}
.main-nav li {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  position: relative;
  border-right: 1px solid #124e78;
  color: #bd632f;
  border-radius: 100%;
  transition: all 200ms ease-in-out;
}
.main-nav a {
  display: block;
  margin: 5px;
  padding: 20px;
}

.main-nav li:hover {
  border-color: rgba(0, 0, 0, 0.1);
  color: #124e78;
  background: rgba(242, 187, 5);
  transform: scale(1.05);
  border-radius: 3px;
}
.main-nav li .selected {
  border-color: rgba(0, 0, 0, 0.1);
  color: #bd632f;
  background-color: #124e78;
}

#modal-root {
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
